@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
cxrtyuijokp[l]lpokjiubyvyc
<p>Use this area to provide additional information.</p>

<p>Use this area to provide additional informationxssscscscscscscscsscscsczcscs.</p>
<p>sdsjcefefhnujasnhujnhfujsncujs</p>

<p>newpuahh rttwerwe</p>
